rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isLeader() {
      return isSignedIn() && get(/databases/$(database)/documents/userRoles/$(request.auth.uid)).data.leader == true;
    }

    function isClubberParent() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.phoneNumber in resource.data.parents;
    }

    function isClubberParentRef(clubberId) {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.phoneNumber in get(/databases/$(database)/documents/clubbers/$(clubberId)).data.parents;
    }

    function isDirector() {
      return isSignedIn() && get(/databases/$(database)/documents/userRoles/$(request.auth.uid)).data.director == true;
    }

    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/userRoles/$(request.auth.uid)).data.admin == true;
    }

    function isSuper() {
      return isSignedIn() && get(/databases/$(database)/documents/userRoles/$(request.auth.uid)).data.super == true;
    }

    match /users/{userId} {
      allow create: if isOwner(userId);
      allow update: if isOwner(userId) || isSuper();
      allow list: if isAdmin() || isDirector() || isSuper();
      allow get: if isSignedIn();
    }

    match /userRoles/{userId} {
      allow create, update, delete: if isSuper();
      allow list: if isAdmin() || isDirector() || isSuper();
      allow get: if isSignedIn();
    }

    match /clubbers/{clubberId} {
      allow create, update, delete: if isSuper();
      allow get, list: if isClubberParent() || isLeader() || isAdmin() || isDirector() || isSuper();
    }

    match /clubberBooks/{clubberId} {
      allow update, get, list: if isClubberParentRef(clubberId) || isLeader() || isAdmin() || isDirector() || isSuper();
      allow create, delete: if isSuper();
    }

    match /notifications/{notificationId} {
      allow create: if isSuper();
      allow get, list: if isSignedIn();
      allow update, delete: if isSuper() && !("sentAt" in get(/databases/$(database)/documents/notifications/$(notificationId)).data);
    }

    match /configs/notification {
      allow get: if isSuper();
    }

    match /updates/{updateId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if isDirector() || isSuper();
    }
  }
}